#headboard {

    padding: 25px;

    text-align: center;

    font-size: 40px;
}

#forecast {
    padding: 25px;

    text-align: center;
    
    justify-content: space-evenly;
}

#searchbar {
    padding: 25px;
}